# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
venv/
.idea/
handlers/test
.DS_STORE
.installed.cfg
*.egg
bloba.jpeg
test.py
labels2.jpeg

# Serverless directories
.serverless